apache-airflow==2.4.3
apache-airflow-providers-salesforce==3.3.0
apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-mongo==2.2.0
apache-airflow-providers-mysql==2.1.1
apache-airflow-providers-microsoft-azure==3.3.0
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-oracle==2.0.1
apache-airflow-providers-ssh==2.3.0
boto3==1.18.65
simplejson==3.17.2
pymongo==3.12.1
mysqlclient==2.0.3
pymssql==2.1.5
smart-open==5.0.0
psycopg2==2.8.6
azure-batch==11.0.0
azure-cosmos==4.2.0
azure-datalake-store==0.0.52
azure-identity==1.7.0
azure-keyvault==4.1.0
azure-kusto-data==0.0.45
azure-mgmt-containerinstance==1.5.0
azure-mgmt-datafactory==1.1.0
azure-mgmt-datalake-store==0.5.0
azure-mgmt-resource==20.0.0
azure-storage-blob==12.8.1
azure-storage-common==2.1.0
azure-storage-file==2.1.0
simple-salesforce==1.11.4