--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.4.3/constraints-3.10.txt"

apache-airflow==2.5.2
apache-airflow-providers-salesforce==5.1.0
apache-airflow-providers-amazon==6.0.0
apache-airflow-providers-postgres==5.2.2
apache-airflow-providers-mongo==3.0.0
apache-airflow-providers-microsoft-azure==4.3.0
apache-airflow-providers-microsoft-mssql==3.2.1
apache-airflow-providers-oracle==3.4.0
apache-airflow-providers-ssh==3.2.0
apache-airflow-providers-common-sql==1.2.0
boto3==1.26.7
simplejson==3.18.1
pymongo==3.13.0
pymssql==2.2.5
smart-open==6.3.0
psycopg2==2.9.5
azure-batch==13.0.0
azure-cosmos==4.3.0
azure-datalake-store==0.0.52
azure-identity==1.12.0
azure-keyvault-secrets==4.6.0
azure-kusto-data==0.0.45
azure-mgmt-containerinstance==1.5.0
azure-mgmt-datafactory==1.1.0
azure-mgmt-datalake-store==0.5.0
azure-mgmt-resource==21.2.1
azure-storage-blob==12.8.1
azure-storage-common==2.1.0
azure-storage-file==2.1.0
simple-salesforce==1.12.2